$prefix: 'tb-';
$atom-prefix: '_';

// Text-color
$color-text-secondary: $color-gray-600;

// Border color
$color-border-primary: $color-gray-300;
$color-border-secondary: $color-gray-200;
$color-border-input: $color-gray-300;
$color-disable-input: $color-gray-100;

// MISC.
$color-background-active-primary: $color-gray-100;
$color-select-chevron: $color-gray-400;

// bubble
$bubble-max-width: 20rem;
$bubble-radius: 0.625rem;

// Placeholder color
*::placeholder {
	color: $color-gray-300;
}

*::-moz-placeholder {
	color: $color-gray-300;
}

*::webkit-input-placeholder {
	color: $color-gray-300;
}

:root {
	@each $key, $value in $colors {
		--color-#{$key}: #{$value};
	}
}
