.#{$atom-prefix}lh-100pct { line-height: 100% !important; }
.#{$atom-prefix}lh-125pct { line-height: 125% !important; }
.#{$atom-prefix}lh-150pct { line-height: 150% !important; }
.#{$atom-prefix}lh-175pct { line-height: 175% !important; }
.#{$atom-prefix}lh-200pct { line-height: 200% !important; }

@each $breakpointName, $breakpointSize in $breakpoints {
	@media (min-width: $breakpointSize) {
		.#{$atom-prefix}lh-100pct-#{$breakpointName} { line-height: 100% !important; }
		.#{$atom-prefix}lh-125pct-#{$breakpointName} { line-height: 125% !important; }
		.#{$atom-prefix}lh-150pct-#{$breakpointName} { line-height: 150% !important; }
		.#{$atom-prefix}lh-175pct-#{$breakpointName} { line-height: 175% !important; }
		.#{$atom-prefix}lh-200pct-#{$breakpointName} { line-height: 200% !important; }
	};
};
