.#{$prefix}modal {
	position: fixed;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;

	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.2);

	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease;

	> .#{$prefix}modal-panel {
		width: 100%;
		max-width: 40rem;

		padding: 16px;

		background: $color-white;
		transform: translate3d(0, 20px, 0);
		opacity: 0;
		transition: all 0.2s ease;
	}

	&.-show {
		pointer-events: all;
		visibility: visible;
		opacity: 1;

		.#{$prefix}modal-panel {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
}


