.contact-card {
	display: grid;
	grid-column-gap: 12px;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: repeat(3, max-content);
	grid-template-areas:
		"avatar name         date"
		"avatar message      notification"
		"avatar product-name status"
		"avatar .            .";

	padding: 0.75rem;
	cursor: pointer;

	&:hover {
		background-color: $color-gray-100;
	}

	&:not(:only-child):not(:first-child) {
		border-top: 1px solid $color-gray-200;
	}

	> .avatar {
		grid-area: avatar;
	}

	> .name {
		grid-area: name;
	}

	> .message {
		grid-area: message;
	}

	> .product-name {
		grid-area: product-name;
	}

	> .date {
		grid-area: date;
		font-size: $font-size-small;
	}

	> .notification {
		grid-area: notification;
	}

	> .status {
		grid-area: status;
	}
}
