%base-quick-action {

}

.#{$prefix}quick-action {
	@extend %raised-shadow-2;

	display: inline-flex;
	padding: 0;

	background-color: $color-white;

	list-style: none;
	border-radius: $border-radius-max;

	> * {
		padding: .5rem 1rem;
		transition: all $timing-faster ease;

		&:first-child {
			border-top-left-radius: $border-radius-max;
			border-bottom-left-radius: $border-radius-max;
		}

		&:last-child {
			border-top-right-radius: $border-radius-max;
			border-bottom-right-radius: $border-radius-max;
		}

		&:hover {
			background-color: $color-gray-100;
		}
	}
}
