@mixin make-message($color: $color-primary) {
	display: grid;
	grid-column-gap: 0.75rem;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"icon content";

	padding: 0.75rem;

	color: $color-gray-700;
	background-color: mix($color, white, 15%);

	border-radius: .75rem;

	>.icon {
		grid-area: icon;

		display: flex;
		align-items: center;
		justify-content: center;

		min-width: 2rem;

		font-size: 1.5rem;

		color: $color;
	}

	>.content {
		grid-area: content;

		font-size: $font-size-mini;
		font-weight: $font-weight-semibold;
		line-height: 1.5;
	}
}

$components-colors: (
	'positive': $color-positive,
	'negative': $color-negative,
	'warning' : $color-warning,
	'info'    : $color-info,
);

.#{$prefix}message {
	@include make-message();

	@each $key, $value in $components-colors {
		&.-#{$key} {
			@include make-message($value);
		}
	};
}
