@mixin make-toast($color: $color-primary) {
	display: flex;
	border: 1px solid $color;
	border-radius: 0.25rem;
	overflow: hidden;

	> .#{$prefix}toast-message {
		flex: 1;
		display: block;
		padding: 14px;

		background: white;
		color: $color;
	}

	> .#{$prefix}toast-icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 3rem;

		background: $color;
		color: white;
	}

	> .#{$prefix}toast-close {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 3rem;

		background: transparent;
		color: $color;

		> * {
			cursor: pointer;
		}
	}
}

.#{$prefix}toast {
	@include make-toast();

	&.-positive {
		border-color: #49A211;

		> .#{$prefix}toast-message {
			background: #5ED016;
			color: white;
		}

		> .#{$prefix}toast-icon {
			background: #49A211;
			color: white;
		}

		> .#{$prefix}toast-close {
			background: #5ED016;
			color: white;
		}
	}

	&.-negative {
		border-color: #E92812;

		> .#{$prefix}toast-message {
			background: #F26555;
			color: white;
		}

		> .#{$prefix}toast-icon {
			background: #E92812;
			color: white;
		}

		> .#{$prefix}toast-close {
			background: #F26555;
			color: white;
		}
	}

	&.-warning {
		border-color: #DA960B;

		> .#{$prefix}toast-message {
			background: #F5B83D;
			color: white;
		}

		> .#{$prefix}toast-icon {
			background: #DA960B;
			color: white;
		}

		> .#{$prefix}toast-close {
			background: #F5B83D;
			color: white;
		}
	}
}
