%base-avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 999px;
	object-fit: cover;

	&.-small {
		width: 2.5rem;
		height: 2.5rem;
	}

	&.-tiny {
		width: 2rem;
		height: 2rem;
	}
}

.#{$component-prefix}avatar {
	@extend %base-avatar;
}
