.#{$component-prefix}popup {
	position: absolute;
	opacity: 0;

	transition: all var(--timing-faster) ease;

	transform: scale(0);
	transform-origin: top right;

	pointer-events: none;
	backface-visibility: hidden;

	&.-is-slide-down  {
		transform: scaleY(0);
		transform-origin: top center;

		&.-active {
			opacity: 1;
			transform: scaleY(1);
			pointer-events: all;
		}
	}

	&.-active {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}
}
