$components-colors: (
	'positive',
	'accent',
	'negative',
	'warning',
	'info'
);

%base-button {
	$height-button-small: 2.25rem;
	$font-size-button-small: 0.875rem;

	$height-button-big: 3.25rem;
	$font-size-button-big: 1.25rem;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 2.875rem;
	padding: 0.5rem 1.5rem;

	font-weight: 600;
	font-size: 1rem;
	line-height: 100%;

	border: none;
	border-radius: 0.125rem;

	transition: all 0.16s ease-in-out;
	user-select: none;
	cursor: pointer;
	outline: none;

	&.-pill {
		border-radius: 999px;
	}

	&.-small {
		min-height: $height-button-small;
		font-size: $font-size-button-small;
	}

	&.-big {
		min-height: $height-button-big;
		font-size: $font-size-button-big;
	}

	&.-loading {
		color: transparent;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 1rem;
			width: 1rem;
			margin: auto;
			border: 2px solid;
			border-radius: 999px;
			animation: spinAround 0.48s infinite linear;
		}
	}

	&.-fluid {
		width: 100%;
	}
}

.#{$namespace}button {
	@extend %base-button;

	color: var(--color-text-light);
	background-color: var(--color-primary-500);

	&:focus {
		box-shadow: 0 0 0 .175rem var(--color-primary-300);
	}

	&:hover {
		background-color: var(--color-primary-400);
	}

	&.-loading {
		color: transparent;

		&:after {
			border-right-color: var(--color-text-light);
			border-top-color: var(--color-text-light);
		}
	}

	@each $key, $value in $components-colors {
		&.-#{$key} {
			color: var(--color-text-light);
			background-color: var(--color-#{$key}-500);

			&:focus {
				box-shadow: 0 0 0 .175rem var(--color-#{$key}-200);
			}

			&:hover {
				background-color: var(--color-#{$key}-400);
			}

			&.-loading {
				color: transparent;

				&:after {
					border-right-color: var(--color-text-light);
					border-top-color: var(--color-text-light);
				}
			}

			&.-secondary {
				color: var(--color-#{$key}-600);
				border: 2px solid var(--color-#{$key}-600);
				background: transparent;

				&:hover {
					background-color: var(--color-#{$key}-100);
				}

				&.-loading {
					color: transparent;

					&:after {
						border-right-color: var(--color-#{$key}-600);
						border-top-color: var(--color-#{$key}-600);
					}
				}
			}

			&.-tertiary {
				color: var(--color-#{$key}-600);
				border: none;
				background: transparent;

				&:hover {
					background-color: var(--color-#{$key}-100);
				}

				&.-loading {
					color: transparent;

					&:after {
						border-right-color: var(--color-#{$key}-600);
						border-top-color: var(--color-#{$key}-600);
					}
				}
			}
		}
	}

	&.-secondary {
		color: var(--color-primary-600);
		border: 2px solid var(--color-primary-600);
		background: transparent;

		&:hover {
			background-color: var(--color-primary-100);
		}

		&.-disabled {
			color: var(--color-gray-400);
			border: 2px solid var(--color-gray-300);
			background-color: transparent;

			&:hover {
				background-color: transparent;
			}
		}

		&.-loading {
			color: transparent;

			&:after {
				border-right-color: var(--color-primary-600);
				border-top-color: var(--color-primary-600);
			}
		}
	}

	&.-tertiary {
		color: var(--color-primary-600);
		border: none;
		background: transparent;

		&:hover {
			background-color: var(--color-primary-100);
		}

		&.-loading {
			color: transparent;

			&:after {
				border-right-color: var(--color-primary-600);
				border-top-color: var(--color-primary-600);
			}
		}

		&.-disabled {
			color: var(--color-gray-400);
			background-color: transparent;

			&:hover {
				background-color: var(--color-gray-100);
			}
		}
	}

	&.-disabled {
		color: var(--color-gray-500);
		background-color: var(--color-gray-200);
		cursor: not-allowed;

		&:hover {
			background-color: var(--color-gray-300);
		}
	}
}

@keyframes spinAround {
	from { transform: rotate(0deg); }
	to   { transform: rotate(359deg); }
}
