.#{$component-prefix}divider {
	display:flex;
	justify-content:center;
	align-items: center;

	white-space: nowrap;

	&:before,
	&:after {
		content: '';
		display: block;

		width: 50%;
		height: 1px;

		background: $color-gray-300;
	}

	&:not(:empty) {
		&:before {
			margin-right: 0.75rem;
		}

		&:after {
			margin-left: 0.75rem;
		}
	}
}
