%base-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 100%;
	height: 100%;
	padding-left: 12px;
	padding-right: 12px;

	background-color: $color-white;

	vertical-align: top;

	border-radius: inherit;
	border: 1px solid $color-border-input;

	outline: none;

	&:hover {
		border-color: darken($color-border-input, 10%);
	}

	&:focus, :active {
		border-color: $color-primary;
		box-shadow: 0 0 0 2px transparentize($color-primary, 0.7);
	}
}

$components-colors: (
	'positive': $color-positive,
	'negative': $color-negative,
	'warning' : $color-warning,
	'info'    : $color-info,
);

.#{$prefix}field {
	label {
		font-weight: $font-weight-bold;
		display: inline-block;
		margin-bottom: 0.25rem;
	}

	small {
		display: inline-block;
		margin-top: 0.2rem;
	}

	// color
	@each $key, $value in $components-colors {
		&.-#{$key} {
			.#{$prefix}input > input,
			.#{$prefix}textarea > textarea,
			.#{$prefix}select > select {
				border-color: $value;

				&:focus, :active {
					box-shadow: 0 0 0 2px transparentize($value, 0.8);
				}
			}

			small, i {
				color: $value;
			}
		}
	};

	// size
	&.-big {
		.#{$prefix}input,
		.#{$prefix}select:not(.-multiple) {
			height: 3rem;
		}
		.#{$prefix}input > input,
		.#{$prefix}select:not(.-multiple) > select {
			font-size: 1.25rem;
			height: 100%;
		}
	}

	&.-small {
		.#{$prefix}input,
		.#{$prefix}select:not(.-multiple) {
			height: 1.875em;
		}
		.#{$prefix}input > input,
		.#{$prefix}select:not(.-multiple) > select {
			font-size: 0.75rem;
			height: 100%;
		}
	}

	// disabled
	&.-disabled,
	.disabled,
	[disabled] {
		.#{$prefix}input > input,
		.#{$prefix}textarea > textarea,
		.#{$prefix}select > select {
			cursor: not-allowed;
			background-color: $color-disable-input;
			border-color: $color-border-input;
		}

		small {
			color: $color-dark
		}
	}
}

.#{$prefix}input,
.#{$prefix}textarea,
.#{$prefix}select {
	border-radius: 4px;
}

.#{$prefix}input > input,
.#{$prefix}textarea > textarea,
.#{$prefix}select > select {
	@extend %base-input;
}

.#{$prefix}select {
	position: relative;

	> select {
		padding-right: 32px;
		cursor: pointer;
	}

	&:after {
		content: '';
		border-left: 2px solid $color-dark;
		border-bottom: 2px solid $color-dark;
		height: 0.5rem;
		width: 0.5rem;
		position: absolute;
		right: 0.5rem;
		top: 50%;
		border-color: $color-select-chevron;
		transform: rotate(-45deg) translate(0, calc(-50% - 4px));
		pointer-events: none;
	}
}

.#{$prefix}textarea > textarea {
	padding: 8px 12px;
	line-height: 1.25;
}

.#{$prefix}input,
.#{$prefix}select {
	height: 2.5rem;
}

// input icon
.#{$prefix}input.-has-icon-left,
.#{$prefix}select.-has-icon-left,
.#{$prefix}input.-has-icon-right {
	position: relative;
	> span.icon {
		color: $color-border-input;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0px;
		width: 42px;
		height: 100%;
		font-size: 1em;
	}
}

.#{$prefix}input.-has-icon-left {
	> input {
		padding-left: 42px;
	}
	> span.icon.-is-left {
		left: 0px;
	}
}

.#{$prefix}select.-has-icon-left {
	> select {
		padding-left: 42px;
	}
	> span.icon.-is-left {
		left: 0px;
	}
}

.#{$prefix}input.-has-icon-right {
	> input {
		padding-right: 42px;
	}
	> span.icon.-is-right {
		right: 0px;
	}
}

.#{$prefix}field.-small {
	.#{$prefix}input.-has-icon-left {
		> input {
			padding-left: 32px;
		}
		> span.icon.-is-left {
			width: 32px;
			font-size: .875em;
			left: 0px;
		}
	}
	.#{$prefix}select.-has-icon-left {
		> select {
			padding-left: 32px;
		}
		> span.icon.-is-left {
			width: 32px;
			font-size: .875em;
			left: 0px;
		}
	}
	.#{$prefix}input.-has-icon-right {
		> input {
			padding-right: 32px;
		}
		> span.icon.-is-right {
			width: 32px;
			font-size: .875em;
			right: 0px;
		}
	}
}

.#{$prefix}field.-big {
	.#{$prefix}input.-has-icon-left {
		> input {
			padding-left: 48px;
		}
		> span.icon.-is-left {
			width: 48px;
			font-size: 1.33333em;
			left: 0px;
		}
	}
	.#{$prefix}select.-has-icon-left {
		> select {
			padding-left: 48px;
		}
		> span.icon.-is-left {
			width: 48px;
			font-size: 1.33333em;
			left: 0px;
		}
	}
	.#{$prefix}input.-has-icon-right {
		> input {
			padding-right: 48px;
		}
		> span.icon.-is-right {
			width: 48px;
			font-size: 1.33333em;
			right: 0px;
		}
	}
}
